__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
.docs-venv
uv.lock
rlinf/envs/maniskill/assets
PKG-INFO
*.egg-info/
yunzhe/monitor/runs
logs/*
RLinf-Pi0-LIBERO-Spatial-Object-Goal-SFT/*
RLinf-Pi05-LIBERO-SFT/*